.App{
display: flex;
margin-top: 40px;
margin-left: 300px;
padding-right: 20px;
}
img{
margin-right: 20px;
}
.title{
font-size: 25px;
}
.rated{
display:inline-block ;
margin-right: 20px;
margin-left: 20px;
font-size: 15px;
background-color: #a9a9a9;
border-radius: 5px;
width: 6%;
}
.runtime{
display:inline-block ;
margin-right: 20px;
margin-left: 20px;
font-size: 15px;
background-color: #a9a9a9;
border-radius: 5px;
}
.rating{
  color: rgb(72, 72, 226);
  font-size: 25px;

}
.both{
  display: flex;
  justify-content: space-between;
  width: 36%;
}
.genre{
margin-right:50%;
margin-left: 20px;
font-size: 15px;
text-align: center;
background-color: #a9a9a9;
border-radius: 10px;
width: 22%;
}
.plot{
font-size:15px ;
font-weight: 500;
width: 36%;
}
.actors{
  font-size:15px ;
  font-weight: 500;
}